.advantage--flex {
    @include centredFlex;

    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    background-color: $advantageBoxBcg;
}
.advantage__icon {
    width: 70px;
    height: 70px;
}
.advantage {
    padding-bottom: 0;

    background-color: basicBcg;
}
.advantage__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $titleColor;
}
// .advantage__list {
//     display: flex;
//     justify-content: space-between;
// }
.advantage__item {
    width: 270px;
    // margin-right: 30px;
    // &:last-child {
    //     margin-right: 0;
    // }
}
.advantage__discription {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
