.clients__list {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }
}
.clients__item {
  display: flex;
  width: 170px;
  height: 92px;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: 15px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: calc((100% - 90px) / 3);
  }
  @media screen and (max-width: 767px) {
    width: calc(50% - 2 * 15px);
  }
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.clients__link {
  @extend %social__link--styles;

  border: 1px solid;
  border-radius: 4px;

  color: $clientsColor;

  transition: color $hoverAnimation;
  &:hover,
  &:focus {
    color: $hoverColor;
  }
}
.clients__icon {
  display: flex;
  width: 106p;
  height: 60px;
  fill: currentColor;
}
// .clients__item {
