body {
  font-family: "Roboto", sans-serif;

  color: $contentsColor;
}
.header {
  border-bottom: 1px solid #ececec;

  background-color: $basicBcg;
}
.title {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: $titleColor;
  @media screen and (min-width: $desktop) {
    font-size: 36px;
    padding-bottom: 50px;
  }
}
.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    position: relative;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
    position: relative;
  }
}
.section {
  padding: 94px 0;
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }
}
