.footer {
  background-color: $footerBgc;
  @media screen and (min-width: $desktop) {
    &--flex {
      display: flex;
    }
  }
}
.footer--mobile {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer--tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
  @media screen and (max-width: 1199px) {
    justify-content: space-around;
    align-items: center;
  }
}
.address__list {
  padding-bottom: 60px;
}
.address__map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: #ffffff;

  transition: color $hoverAnimation;

  &:hover,
  &:focus {
    color: $hoverColor;
  }
}
.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $adressColor;

  transition: color $hoverAnimation;

  &:focus,
  &:hover {
    color: $hoverColor;
  }
}
.address__item {
  &:not(:last-child) {
    padding-bottom: 9px;
  }
}
.footer-social--conteiner {
  text-align: center;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop) {
    margin-top: 72px;
    margin-left: 70px;
    text-align: start;
  }
}
.footer-social__title {
  @include footerTitle;
}

.footer-social__list {
  display: flex;
  justify-content: center;
}
.footer-social__icon {
  display: flex;
  width: 20px;
  height: 20px;

  fill: $socialIconFill;
}
.footer-social__link {
  @extend %social__link--styles;

  border-radius: 50%;

  transition: background-color $hoverAnimation;
  &:hover,
  &:focus {
    background-color: $hoverColor;
  }
}
.footer-social__item {
  border-radius: 50%;
  width: 44px;
  height: 44px;

  background-color: $footerSocial;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
