.subscribe--conteiner {
  display: flex;
  text-align: center;
  //   margin-top: 72px;
  //   margin-left: auto;
}
.subscribe__title {
  @include footerTitle(flex);
  justify-content: center;
}
.subscribe__email {
  //   width: 358px;
  width: 450px;
  height: 50px;
  padding: 15px;
  //   margin-right: 12px;
  margin-bottom: 20px;

  color: $footerTitleColor;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
}
.subscribe__button {
  @extend %button;

  position: relative;
  display: inline-block;
  padding-right: 29px;
  margin-bottom: 60px;

  transition: background-color $hoverAnimation, box-shadow $hoverAnimation;

  &:hover,
  &:focus {
    background-color: $hoverColor;
    box-shadow: $boxShadowColor;
  }
}
.subscribe__icon {
  position: absolute;
  top: 50%;
  right: 28px;

  transform: translateY(-50%);
}
