.section--bgc {
  background-color: $teamBcg;
}
.team__name {
  @extend %team__text;
  padding-top: 30px;
  padding-bottom: 10px;

  font-weight: 500;

  color: $titleColor;
}
.team__post {
  @extend %team__text;
  margin-bottom: 16px;
}

.social {
  @media screen and (min-width: $desktop) {
    padding: 0 32px 30px;
  }
  @media screen and (max-width: 1199px) {
    padding: 16px 0 24px;
  }
}
.social__list {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}
.social__item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social__link {
  @extend %social__link--styles;

  border-radius: 50%;

  fill: $socialIconFillTeam;

  transition: background-color $hoverAnimation, fill $hoverAnimation,
    border-radius $hoverAnimation;
  &:hover,
  &:focus {
    background-color: $hoverColor;
    border-radius: 50%;
    fill: $socialIconFill;
  }
}
.social__icon {
  width: 20px;
  height: 20px;
}

.team__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin: -15px;
  }
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    justify-content: space-between;
  }
}
.team__item {
  box-shadow: $boxShadowModalColor;
  border-radius: 0px 0px 4px 4px;
  background-color: $basicBcg;
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: calc(50% - 2 * 15px);
    margin: 15px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
